<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/color.css">
    <link rel="stylesheet" href="/stylesheets/new_group.css">
    <title>Neuron</title>
  </head>
  <body class=''>

    <div class='d-flex flex-row align-items-center' id='header'>
        <div id='profile-img' class='mr-auto' id='profile-img'>
          <img src="/images/profile.jpeg"/>
        </div>
        <div class=''>
          <p>Clasificación</p>
          <div>
            <span class="oi oi-star"></span>
            <span class="oi oi-star"></span>
            <span class="oi oi-star"></span>
            <span class="oi oi-star"></span>
            <span class="oi oi-star"></span>
          </div>
        </div>
        <div class=''>
          <p>Ahorros</p>
          <strong>$1000</strong>
        </div>
      </div>
      <div id='sub-header'>
        <h6>Nuevo grupo</h6>
      </div>

      <div class='container' id='main-container'>
        <h1 class='text-center'>Nuevo grupo</h1>
        <form>
          <div class="form-group">
            <label for="exampleFormControlInput1">Nombre</label>
            <input type="email" class="form-control" id="group-name" placeholder="Nombre del grupo">
            <div class="invalid-feedback" id='invalid-name'>
                Please choose a group name.
            </div>
          </div>
          <div class="form-group row">
            <div class='col-md-8'>
              <label for="exampleFormControlSelect1">Tipo</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>Semanalmente - $1</option>
                <option>Semanalmente - $5</option>
                <option>Semanalmente - $10</option>
                <option>Semanalmente - $10</option>
                <option>Semanalmente - $20</option>
              </select>
            </div>
            <div class='col-md-4'>
              <label for="exampleFormControlSelect1">Objetivo</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>10</option>
                <option>50</option>
                <option>100</option>
                <option>200</option>
                <option>500</option>
                <option>1000</option>
              </select>
            </div>
            <div class="d-flex flex-row w-100 justify-content-center mb-5 mt-2">
              <a href='/views/new_group_special.html'><button type="button" class="btn btn-warning mr-3 text-white">Grupo especial</button></a>
              <button id='btn-create-group' type="button" class="btn btn-success">Crear</button>
            </div>
          </div>
      </div>
      
      



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/data.js"></script>
    <script type="text/javascript" src="/javascripts/utils.js"></script>
    <script type="text/javascript" src="/javascripts/new_group.js"></script>
  </body>
</html>