<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/signup.css">

    <title>Neuron</title>
  </head>
  <body class='text-center'>
    <div class="d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Neuron</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="/views/index.html">Inicio</a>
            <a class="nav-link" href="/views/signup.html">Registrarse</a>
          </nav>
        </div>
      </header>

      <div class="container mt-5" >
        <h3 class="cover-heading">Suscribirse</h3>
        <p class="lead">Suscríbete y haz parte de nosotros</p>
        <div class="row justify-content-md-center">
          <div class="col-md-6">
            <div class="text-left">
              <div class="form-group">
                <label for="username-input" class="small">Nombre de usuario</label>
                <input type="text" class="form-control" id="username-input" placeholder="Insertar nombre de usuario">
              </div>
              <div class="form-group">
                <label for="email-input" class="small">Correo electrónico</label>
                <input type="email" class="form-control" id="email-input" placeholder="Insertar correo electrónico">
              </div>
              <div class="form-group">
                <label for="pass-input" class="small">Contraseña</label>
                <input type="password" class="form-control" id="pass-input" placeholder="Ingresar contraseña">
              </div>
              <div class="form-group">
                <label for="pass-input" class="small">Confirmar contraseña</label>
                <input type="password" class="form-control" id="confirm-pass-input" placeholder="Insertar contraseña">
              </div>
               <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="check-terms">
                <label class="form-check-label small" for="check-terms">Acepto las Condiciones de servicio</label>
              </div>
              <div class="invalid-feedback">
                Por favor escoja un Nombre de usuario.
              </div>
              <br>
              <button class="btn btn-primary full-width btn-block" id='submit-btn'>Suscribirse</button>
            </div>
            <br>
            <br>
          </div>
          <div class="col-md-6">
            <img id='piggy-img' src="/images/piggy-black.png">
          </div>
          
        </div>
      </div>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Neuron 2018</p>
        </div>
      </footer>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script src="/javascripts/signup.js"></script>
  </body>
</html>