body {
	background-color: #F5F8FF;
}

h1,h2,h3,h4,h5,h6 {
	color: #ACB0C0;
	text-transform: uppercase;
	text-align: left;
	font-weight: 900;
}


/* main container */
#main-container {
	margin-top: 50px;
}

/* group list */

#groups-list {
	padding-left: 0;
}

#groups-list li {
	margin: 20px 0;
	padding: 20px 30px;

	background-color: white;
	border: 1px solid #E8E9F2;
	border-radius: 5px;

	text-align: left;
	color: #2139C4;
	font-weight: 700;
	font-size: 16px;

	cursor: pointer;
}
#groups-list li span {
	float: right;
}