

/* main container */
#main-container {
	margin-top: 50px;
}

/* group list */

#groups-list {
	padding-left: 0;
	overflow-y: scroll;
	max-height: 350px;
}

#groups-list li {
	margin: 20px 0;
	padding: 20px 30px;

	background-color: white;
	border: 1px solid #E8E9F2;
	border-radius: 5px;

	text-align: left;
	color: #2139C4;
	font-weight: 700;
	font-size: 16px;

	cursor: pointer;
}
#groups-list li span {
	float: right;
}
#groups-list li button {
	float: right;
	position: relative;
	top: -10px;
}