/* header */
#header {
	background-color: #5473E8;
	padding: 20px 0;
	text-align: center;
	color: white;
}

#header > div {
	margin: 0 30px;
}

#profile-img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
}
#profile-img img {
	height: 100%;
	object-fit: cover;
	object-position: right;
}

/* sub header */
#sub-header {
	background-color: white;
	text-align: left;
	padding: 10px 40px;

	border-bottom: 1px solid #E8E9F2;
}
#sub-header h6 {
	color: #2139C4;
	font-weight: 900;
	margin: 20px 0;
}